*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: 'Manrope','sans-serif';
}
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: #313a49;
--Dark-Grayish-Blue: #202632;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
    background:var(--Dark-Grayish-Blue);
}
.card{
    background:var(--Grayish-Blue) ;
    width: min(90%,600px);
    padding: 1.8em;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    text-align: center;
    position: relative;
}
#advice-id{
    color: var(--Neon-Green);
}
#quotes-container{
    color: var(--Light-Cyan);
    font-size: 28px;
}
.divider-img-container{
  margin: 1em 0 2em 0;
}
.divider-img-container img{
    width: 100%;
}
.quotes-change-btn-container{
    background: var(--Neon-Green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: -1.8em;
    cursor: pointer;
}
.quotes-change-btn-container:hover{
    box-shadow:0 0 1.5em var(--Neon-Green);
    
}
.attribution{
    text-align: center;
}
.attribution a{
    text-decoration: none;
}